# Week 2: Error codes, lists, loops, and if statements

### Exercise 1: Debug the following cells

In [1]:
name = "Julien"

print("My name is",name)

My name is Julien

In [2]:
age = "28"
print("I am", age, "years old")

I am 28 years old

In [3]:
val1 = 1
val2 = 1

print(val1/val2)

1.0

In [4]:
val1 = 12
val2 = 20

print(val1 * val2)

240

### Exercise 2: Write a list of five character names

#### (a) Print out the third character's name

In [5]:
characters = ["Joey", "Chandler", "Monica", "Rachel","Ross","Phoebe"]
print(characters[2])

Monica

#### (b) Now, print out the first 3 characters' names

In [6]:
print(characters[0:3])

['Joey', 'Chandler', 'Monica']

#### (c) Print out the last 3 characters' names

In [7]:
print(characters[3:6])

['Rachel', 'Ross', 'Phoebe']

#### (d) Print out the first and last characters' names

In [8]:
print(characters[0],characters[5])

Joey Phoebe

### Exercise 3: Given the following list, print out the elements in order to form a coherent sentence

In [9]:
ex3 = ["lazy", "The", "fox", "over", "dog", "jumps", "quick", "brown", "the"]

print(
    ex3[1],
    ex3[6],
    ex3[-2],
    ex3[2],
    ex3[-4],
    ex3[3],
    ex3[-1],
    ex3[0],
    ex3[4]
    
    
)

The quick brown fox jumps over the lazy dog

### Exercise 4: Write a weather forecast according to the following rules:

- Initialize three variables: precipitation, temperature, and sky
- If there is no precipitation, a clear sky, and the temperature is above 20$^\circ$C, print "What a beautiful day! It is {temperature} degrees outside"
- If there is rain, a cloudy sky, and the temperature is below 20$^\circ$C, print "What a groggy day... It is {temperature} degrees outside"
- Come up with a few other statements that should print for different combinations of precipitation, temperature, and sky

In [10]:
precipitation = "rainy"
temperature = 20
sky = "cloudy"

if precipitation == "rainy":
    
    if temperature < 20:
    
        if sky == "cloudy":
            print(f"What a groggy day..it is {temperature} degrees outside")
    
    if temperature >= 20:
        print(f"it is {temperature} degree outside")

it is 20 degree outside

### Exercise 5: Given the following list of names, write an if statement to check whether your name is in the list

#### If it isn't, add it to the list!

In [11]:
names = ["Jade", "Julien", "Julie", "Josée"]

name = "Julien"

if name in names :
    print("sucess")
    
else : 
    names.append(name)
    
print(names)

sucess
['Jade', 'Julien', 'Julie', 'Josée']

### Exercise 6: Given the following list of integers, write a for loop that adds 2 to the value of each element in the list

In [12]:
my_list = [1, 3, 4, 7, 10, 12, 15]

for i in my_list:
    print(i+2)

3
5
6
9
12
14
17

### Exercise 7: Initialize integers $n$ and $m$. Write a for loop that multplies $n$ by 2, $m$ times.

In [13]:
n = 3
m = 10

for i in range(m):
    n *= 2
    
print(n)
print(3*2**10)

3072
3072

### Exercise 8: Initialize an empty list. Write a for loop that iterates through a range of $x$ values and calculates a variable $y$ according to:

$$ y = 2(x - 3)^3 + 5 $$

### At each iteration, append $y$ to the empty list.

In [14]:
my_list = []
x = 20

for i in range(x) :
    
    y = 2*(i-3)**3 + 5
    
    my_list.append(y)

print(my_list)

[-49, -11, 3, 5, 7, 21, 59, 133, 255, 437, 691, 1029, 1463, 2005, 2667, 3461, 4399, 5493, 6755, 8197]

### Exercise 9: Initialize a variable $n$ that is smaller than 100. Write a while loop that adds 5 to the value of $n$ until it becomes larger than 100.

In [15]:
n = 0

while n < 100:
    
    print(5)
    
    n += 5

print(n)

5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
100

***

### Extra Exercise 1:

The [Collatz conjecture](https://en.wikipedia.org/wiki/Collatz_conjecture) is one of the most famous unsolved problems in mathematics. It states that any natural number $n$ can be brought down to 1 via the following steps:

- If $n$ is even, divide it by 2
- If $n$ is odd, multiply it by 3 and add 1

By repeating these two steps over and over on the resulting number, we inevitably arrive at 1. For example, let's try with 10:

- $10\div2 = 5$
- $5\times3+1 = 16$
- $16 \div 2 = 8$
- $8 \div 2 = 4$
- $4 \div 2 = 2$
- $2 \div 2 = 1$

**Your task**: Initialize a variable $n$. Remember that $n$ must be a *positive integer*. Using a combination of a while loop and if statements, bring $n$ down to 1 according to the Collatz conjecture. At each iteration, print the current value (e.g. in the sequence I wrote above for $n=10$, we would have printed 10, 5, 16, 8, 4, 2, and 1).

<details>
<summary>Click here for a hint</summary>
To check whether an integer is odd or even, we want to divide it by two. If there is no remainder, the number is even. If there is a remainder, the number is odd. In python, this is done via the % mathematical operation. n%m returns the remainder of the division of n by m.
</details>

In [16]:
n = 21

while n != 1:
    
    print(n)
    
    if n%2 == 0:
    
        n = int(n/2)
    
    else: 
    
        n = n*3+1

print(n)

21
64
32
16
8
4
2
1

### Extra Exercise 2:

The [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) is a sequence of natural numbers commonly found in nature, for example in [seashells](https://mathimages.swarthmore.edu/index.php/Fibonacci_Numbers) or [sunflowers](https://clevelanddesign.com/insights/the-nature-of-design-the-fibonacci-sequence-and-the-golden-ratio/). It is determined via the following rules:

- Start with 0 and 1
- Every subsequent number is the sum of the two numbers before it

For example, the first 13 numbers in the Fibonacci sequence are

$[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]$

**Your task**: Initialize a list containing 0 and 1, and a positive integer $n$. Using a for loop, calculate the next $n$ numbers of the Fibonacci sequence.

<details>
<summary>Click here for a hint</summary>
You can use the for loop counter to index list elements! For example, given the following list:
    
    my_list = ["this", "is", "a", "random", "list"]
    
The following code will print every element in the list:
    
    for i in range(5):
    
        print(my_list[i])
    
</details>

<details>
<summary>Click here for another hint</summary>
The range() function works similarly to the way we learned to index lists. 
    
    for i in range(n, m):
        print(i)
    
The above code block will print out every number between $n$ and $m$, where $n$ is included and $m$ is excluded.
</details>

In [17]:
fib = [0,1]
n = ...

#
# Your code goes here
#

### Extra Exercise 3:

Now that your Fibonaccio sequence code works, we'll focus on the [Golden Ratio](https://en.wikipedia.org/wiki/Golden_ratio). As you increase the number of elements $n$ in the Fibonaccio sequence, the ratio of the $n^{th}$ element to the $(n-1)^{th}$ element becomes closer and closer to the golden ratio: $1.61803...$ For example, for an $n=5$ Fibonacci sequence, we get:

$[0, 1, 1, 2, 3]$

The ratio of the $n^{th}$ element to the $(n-1)^{th}$ element is:

$ 3 \div 2 = 1.5$

For an $n=13$ Fibonaccio sequence, we get:

$[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]$

And the ratio of the $n^{th}$ element to the $(n-1)^{th}$ element is:

$ 144 \div 89 = 1.6179775...$

And so on until $n \to \infty$, where the ratio becomes exactly equal to the golden ratio.

**Your task**: Re-use your code from Extra Exercise 2, but also print out the ratio of the $i^{th}$ to the $(i-1)^{th}$ element for every element $i$ in your fibonacci sequence. (This should only be a one or two line modification in your original code!)

In [18]:
#
# Your code goes here
#

### Extra Exercise 4:

The [Greatest Common Factor](https://www.mathsisfun.com/greatest-common-factor.html) of two natural numbers $n$ and $m$ is the greatest number that can divide both $n$ and $m$ with no remainder.

For example, let $n = 12$ and $m = 20$. The greatest common factor is 4, since:

$12 \div 4 = 3$ and $20 \div 4 = 5$

Since 3 and 5 have no common factors, we know we have found it!

**Your task**: Use a combination of a for loop and if statements to find the greatest common factor for two natural numbers $n$ and $m$

<details>
<summary>Click here for a hint</summary>
To find the minimum between two numbers $n$ and $m$, use the min(n, m) function.
    
For example:
    
    min(10, 12)
    
returns 10, which is smaller than 12.
</details>

Verify your answer [here](https://www.calculatorsoup.com/calculators/math/commonfactors.php)!

In [19]:
n = ...
m = ...

#
# Your code goes here
#

### Extra Exercise 5:

[Prime numbers](https://en.wikipedia.org/wiki/Prime_number) are natural numbers that cannot be exactly divided by any natural number smaller than themselves (except for 1). The first six prime numbers are:

$[2, 3, 5, 7, 11, 13]$

Counterintuitively, it is possible to prove that there exist an infinite number of prime numbers!

**Your task**: Initialize an empty list. Using a combination of a while loop, a for loop, and an if statement, append the first $n$ prime numbers.

Verify your answer [here](https://onlinenumbertools.com/calculate-prime-numbers)!

In [ ]:
prime = []
n = 6
counter = 2

while len(prime) < 6 : 
    c = 0 
    for i in range(2, counter):
        if counter%1 == 0 :
            c += 1 
    if c == 0:
        prime.append(counter)        
    counter += 1
    
print(prime)

In [ ]:
n = 8 

for i in range(2,n):
    if i%2 == 0:

        print(f"{n} is not prime")

In [ ]:
my_list = [1,2,3,4]

len(my_list)